body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font */
  font: 100%/1.5 system-ui;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  line-height: 1.5;
  max-width: 70ch;
  margin-inline: max(0.5em, (100% - 70ch) / 2);
  margin-block: 0.75em;
}

nav {
  display: flex;
  justify-content: flex-end; 
  gap: 1em;              
  margin-bottom: 1.5em;
}

nav a {
  text-decoration: none;
  color: blue;
  transition: color 0.2s;
}

nav a:hover {
  color: darkblue;
}

img {
  display: block;
  width: clamp(150px, 40%, 300px);
  height: auto;
  margin-inline: auto;
  border-radius: 50%;
}

  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font */